.main
  .main__header
    .main__header__left
      .main__header__left__group
        test
      .main__header__left__member
        Member : name
    = link_to 'Edit', "#", class:"edit-btn"
  .main__messages
    .main__messages__data
      .main__messages__data__who
        name
      .main__messages__data__when
        2020/03/06(Sun) 17:00:00
    .main__messages__message
      おはよう!
    .main__messages__data
      .main__messages__data__who
        Genius:
      .main__messages__data__when
        2019/3/8(Sun) 14:38:34
    .main__messages__message
      Hello ;)
  .main__bottom
    .main__bottom__form
      %input.text{ placeholder:"type a message"}
      %label{class: "input-box__image"}
        = icon('fas', 'image')
        %input{type: "file"}
    .send-btn
      Send
