.main__messages__data{data: {message: {id: message.id}}}
  .main__messages__data__who
    = message.user.name
  .main__messages__data__when
    = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
.main__messages__message
  - if message.content.present?
    = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?