.sidebar
  .sidebar__header
    .sidebar__header__line
      user
      .sidebar__header__line__icons
        = link_to icon('fa', 'edit')
        = link_to icon('fa', 'cog')
  .sidebar__list
    .sidebar__list__contents
      .sidebar__list__contents__group
        tech::camp
      .sidebar__list__contents__news
        まだメッセージはありません。
    .sidebar__list__contents
      .sidebar__list__contents__group
        tech::expert
      .sidebar__list__contents__news
        頑張ります！
    