.sidebar
  .sidebar__header
    .sidebar__header__line
      = current_user.name
      .sidebar__header__line__icons
        = link_to icon('fa', 'edit'),new_group_path
        = link_to icon('fa', 'cog'),edit_user_path(current_user)
  .sidebar__list
    .sidebar__list__contents
      .sidebar__list__contents__group
        tech::camp
      .sidebar__list__contents__news
        まだメッセージはありません。
    .sidebar__list__contents
      .sidebar__list__contents__group
        tech::expert
      .sidebar__list__contents__news
        頑張ります！
    